<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <div id="photos">
        <% photos.forEach(function (photo) { %>
            <div class="photo">
                <h3><%= photo.name %> </h3>
                <img src = '<%= photo.path %>' />
            </div>
        <% }) %>
    </div>
</body>
</html>
